html, body{
    height: 100%;
 }

body{
    background-image: url("/img/background.jpg");
    color: white;
    text-shadow: 0 0.05rem 0.1rem rgba(0,0,0,.5);
}

header{
    text-align: center;
    padding: 2em;
}

.icon {
    width:200px;
}

li{
    margin-bottom: 1em;
}
